*{
    padding: 0;
    margin: 0;
}


body{
    background-color: rgb(230, 230, 230);
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.navBar{
    background: rgb(32,77,55);
    background: linear-gradient(125deg, rgba(32,77,55,1) 0%, rgba(1,173,77,1) 100%);
    height: 90px;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 990px;
    top: 0;
    position: fixed;
}
.govImg{
    height: 80px;
}
.equipe{
    color: white;
    font-family: 'Open Sans', sans-serif;
    font-size: 30px;
}
h1{
    font-size: 50px;
    font-family: 'Open Sans', sans-serif;
    color: rgb(44, 41, 41);
    margin-bottom: 40px;
    opacity: 1;
}
.titulo{
    margin-top: 35vh;
}
.secPrinc{
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 20px;
    height: 80vh;
}
.sec1{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
    position: relative;
    opacity: 1;
}
.idPai,.idMae{
    height: 50px;
    width: 190px;
    font-size: 13px;
    text-align: center;
    color: white;
    font-family: 'Open Sans', sans-serif;
    border:2px solid #00BD19;
    border-radius:10px ;
    background-color: black;
    position: relative;
}


.btt{
    width: 190px;
    height: 35px;
    border:2px solid #00BD19;
    border-radius: 5px;
    background-color: black;
    color: white;
    opacity: 1;
    transition: 1s;
}
.btt:hover{
    background-color: #017e12c5;
}

td{
    background-color: black;
    color: white;
    border-radius: 5px;
    width: 70px;
    height: 50px;
    text-align: center;
    border:1px solid #00BD19;
    font-family: 'Roboto', sans-serif;

}
.secTable{
    width: 100vw;
    bottom: 50vh;
    position: relative;
    margin-left: 190px;
}
table{
    margin: 0;
    display: flex;
    position: relative;
    width: 100vw;
    justify-content: center;
}

a{
    text-decoration: none;
}